<!-- Footer -->
<footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span> &copy; Parthiban Rajendran 2019, Derived work from <a href="https://github.com/BlackrockDigital/startbootstrap-sb-admin-2">Start Bootstrap</a> </span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->